<div class="client-section">
    
    <div class="client-section-large">
        <div class="client-section-large-logos" data-aos="fade-up">
            <div class="logo">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1108475/aecon-logo.png" alt="AECON Logo">
            </div>
            <div class="logo">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1108475/fortis-group-logo.png"
                alt="Fortis Group Logo">
            </div>
            <div class="logo">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1108475/amico-logo.png"
                alt="AMICO Logo">
            </div>
        </div>
    </div>
</div>