<div class="top-bar">
    <div class="top-bar-logo">

    </div>
    <div class="top-bar-nav">
        <form>
            <label for="company-select">Our Sites:</label>
            <select id="company-select" onChange="window.location.href=this.value">
                <option>Select A Company</option>
                {% for company in site.data.companies %}
                    <option value="{{ company.website }}">
                        {{ company.name }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </div>
    
</div>
<header class="site-header">
    <div class="site-header-logo">
        <a rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}" ><img src="./assets/images/{{ site.logo }}" alt="{{ site.title }}" /></a>
    </div>
    <nav class="site-nav">
        <ul>
            {% for item in site.data.navigation %}
                <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>
