<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
  <div class="site">
    {%- include header.html -%}
    <div class="hero hero-inner">
      <div class="hero-large-hexagon">
        <div class="hero-large-hexagon-content">
          <h1>Our <span class="outline-text">Companies</span><span class="top-text">Industry Leaders</span></h1>
        </div>
        <div class="hero-large-hexagon-side">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%"
            viewBox="0 0 13.1985 53.0893">
            <path
              d="M12.0657,22.0614l-1.45-2.6909-3.51-6.563L.8857,1.3A8.577,8.577,0,0,0,0,0V53.0893a8.7964,8.7964,0,0,0,.7758-1.1767L12.0657,31.13A9.64,9.64,0,0,0,12.0657,22.0614Z"
              style="fill: #fff" />
          </svg>

        </div>
      </div>
      <div class="hero-right"></div>
    </div>
    <div class="intro-section intro-section-inner">
      <div class="intro-section-small">
        <div class="intro-section-small-content">
          <h2>Commitment To Safety and Quality</h2>
        </div>
        <div class="intro-section-small-side">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%"
            viewBox="0 0 13.1985 53.0893">
            <path
              d="M1.1328,31.0279l1.45,2.6909,3.51,6.563,6.22,11.5074a8.577,8.577,0,0,0,.8857,1.3V0a8.78,8.78,0,0,0-.7757,1.1767L1.1328,21.96A9.64,9.64,0,0,0,1.1328,31.0279Z"
              style="fill: #222" />
          </svg>
        </div>
      </div>
      <div class="intro-section-large ">
        <div class="intro-section-large-text">
          <h4>The Hurricane Group</h4>
          <h3>Names You Can Trust</h3>
          <p>The Hurricane Group is compromised of Hurricane Hydrovac, Hurricane SMS, Heaton Sanitation and Ken Lapain & Sons Ltd. With over 50 years of operational excellence, these four companies share one defining vision; to provide exceptional service through experience and versatility.  All of our companies hold the highest standards when it comes to both quality and safety.</p>
        </div>
      </div>
    </div>
    <div class="inner-companies">
      <div class="red-heading text-align-center container-1200">
          <h4>50+ Years of Experience</h4>
          <h2>Our <span class="outline-text">Companies</span></h2>
          <p class="text-align-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus quam arcu, non pellentesque velit viverra at. Maecenas sed dui gravida, ullamcorper neque eu, viverra orci. Integer nibh massa, ornare non molestie nec, fermentum eu libero. Maecenas ultrices odio et magna convallis.</p>
      </div>
      <div class="inner-companies-wrapper wrapper-top">
        <div class="container-1400">
          <div class="company">
            <div class="company-image">
              <div class="hex-wrapper">
                <div class="hex">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-hose.jpg" alt="Hydrovac Hose" /></div>
                  <div class="hex-logo">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1108475/hurricane-hydrovac-white.svg" alt="Hurricane Hydrovac Logo" />
                  </div>
                </div>
              </div>
            </div>
            <div class="company-description">
              <h2>Hurricane Hydrovac</h2>
              <p>As one of Southern Ontario's fastest-growing hydro excavation companies Hurricane Hydrovac specializes in non-destructive excavation using high-pressure water and a vacuum to loosen and remove soil, stone and any other debris or materials from the desired area.  We also specialize in septic and liquid waste removal and disposal, sewer and catch basin cleaning, and wet or dry industrial cleaning. This combination of services makes Hurrican Hydrovac the number one solution for utility and sewer maintenance and rehabilitation.</p>
              <a href="#" class="bold-link">Visit Website&nbsp;&nbsp;&rarr;</a>
            </div>
          </div>
          <div class="company">
            <div class="company-image">
              <div class="hex-wrapper">
                <div class="hex">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-hose.jpg" alt="Hydrovac Hose" /></div>
                  <div class="hex-logo">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1108475/hurricane-hydrovac-white.svg" alt="Hurricane Hydrovac Logo" />
                  </div>
                </div>
              </div>
            </div>
            <div class="company-description">
              <h2>Hurricane SMS</h2>
              <p>Complimenting offerings by the hydrovac division, Hurricane SMS provides a wide range of sewer maintenance services across Southwestern Ontario. Using top of the line equipment, we specialize in flush and video (CCTV inspections), Fog Testing, Grouting, Mandrel, Air Testing, and Trenchless Repair. Our experienced team can custom develop and deliver a full sewer inspection program.  All of our camera operators are MACP, LACP, & PACP Certified.</p>
              <a href="#" class="bold-link">Visit Website&nbsp;&nbsp;&rarr;</a>
            </div>
          </div>
        </div>
      </div>
      <div class="inner-companies-wrapper wrapper-bottom">
        <div class="container-1400">
          <div class="company">
            <div class="company-image">
              <div class="hex-wrapper">
                <div class="hex">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-hose.jpg" alt="Hydrovac Hose" /></div>
                  <div class="hex-logo">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1108475/hurricane-hydrovac-white.svg" alt="Hurricane Hydrovac Logo" />
                  </div>
                </div>
              </div>
            </div>
            <div class="company-description">
              <h2>Hurricane Hydrovac</h2>
              <p>As one of Southern Ontario's fastest-growing hydro excavation companies Hurricane Hydrovac specializes in non-destructive excavation using high-pressure water and a vacuum to loosen and remove soil, stone and any other debris or materials from the desired area.  We also specialize in septic and liquid waste removal and disposal, sewer and catch basin cleaning, and wet or dry industrial cleaning. This combination of services makes Hurrican Hydrovac the number one solution for utility and sewer maintenance and rehabilitation.</p>
              <a href="#" class="bold-link">Visit Website&nbsp;&nbsp;&rarr;</a>
            </div>
          </div>
          <div class="company">
            <div class="company-image">
              <div class="hex-wrapper">
                <div class="hex">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-hose.jpg" alt="Hydrovac Hose" /></div>
                  <div class="hex-logo">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1108475/hurricane-hydrovac-white.svg" alt="Hurricane Hydrovac Logo" />
                  </div>
                </div>
              </div>
            </div>
            <div class="company-description">
              <h2>Hurricane SMS</h2>
              <p>Complimenting offerings by the hydrovac division, Hurricane SMS provides a wide range of sewer maintenance services across Southwestern Ontario. Using top of the line equipment, we specialize in flush and video (CCTV inspections), Fog Testing, Grouting, Mandrel, Air Testing, and Trenchless Repair. Our experienced team can custom develop and deliver a full sewer inspection program.  All of our camera operators are MACP, LACP, & PACP Certified.</p>
              <a href="#" class="bold-link">Visit Website&nbsp;&nbsp;&rarr;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%- include clients.html -%}
    <div class="faded-page-preview">
      <div class="faded-page-preview-left">
        <div class="red-heading ">
          <h4>The Hurricane Group</h4>
          <h2>Meet Our <span class="outline-text">Team</span></h2>
          <div class="learn-more"><a href="/team.html">Learn More&nbsp;&nbsp;&rarr;</a></div>
        </div>
      </div>
      <div class="faded-page-preview-right"></div>
    </div>
  </div>
  {%- include footer.html -%}
</body>
</html>