<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
  <div class="site">
    {%- include header.html -%}

    <div class="hero">
      <div class="hero-large-hexagon">
        <div class="hero-large-hexagon-content">
          <h1><span class="top-text">Four Companies</span> One <span class="outline-text">Vision</span></h1>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, deserunt nostrum quasi unde laboriosam
            voluptas qui nesciunt iure aut perferendis totam autem sequi culpa dolores tenetur aperiam impedit? Atque,
            laudantium!</p>
          <p><a href="/companies/" class="btn btn-outline hvr-sweep-to-left">Learn More</a></p>
        </div>
        <div class="hero-large-hexagon-side">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%"
            viewBox="0 0 15.1602 53.7">
  <path d="M14.0952,23.065,0,0V53.7L14.0952,30.635A7.2584,7.2584,0,0,0,14.0952,23.065Z" style="fill: #fff"/>
          </svg>

        </div>
      </div>
      <div class="hero-right">
        <div class="hero-companies">
          <div class="hero-companies-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 61.6032 54.33"
              preserveAspectRatio="none">
              <path
                d="M1.1305,31.31,2.6905,34l4.16,7,5.49,9.33a8.16,8.16,0,0,0,7,4h22.84a8.13,8.13,0,0,0,7-4l11.29-19a8.15,8.15,0,0,0,0-8.29l-1.45-2.46-3.51-6-6.22-10.52a8.15,8.15,0,0,0-7-4L19.4505,0a8.13,8.13,0,0,0-7,4L1.1405,23A8.17,8.17,0,0,0,1.1305,31.31Zm56.87-8.89Z"
                style="fill: #222" />
            </svg>
            <div class="hero-companies-item-image"><img
                src="/assets/images/logos/hurricane/hurricane-hydrovac-tall-white.svg" alt="Hurricane Hydrovac Logo" /></div>
          </div>
          <div class="hero-companies-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 61.6032 54.33"
              preserveAspectRatio="none">
              <path
                d="M1.1305,31.31,2.6905,34l4.16,7,5.49,9.33a8.16,8.16,0,0,0,7,4h22.84a8.13,8.13,0,0,0,7-4l11.29-19a8.15,8.15,0,0,0,0-8.29l-1.45-2.46-3.51-6-6.22-10.52a8.15,8.15,0,0,0-7-4L19.4505,0a8.13,8.13,0,0,0-7,4L1.1405,23A8.17,8.17,0,0,0,1.1305,31.31Zm56.87-8.89Z"
                style="fill: #222" />
            </svg>
            <div class="hero-companies-item-image"><img
                src="/assets/images/logos/hurricane/lapain-white.svg" alt="Ken Lapain and Sons Ltd. Logo" /></div>
          </div>
          <div class="hero-companies-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 61.6032 54.33"
              preserveAspectRatio="none">
              <path
                d="M1.1305,31.31,2.6905,34l4.16,7,5.49,9.33a8.16,8.16,0,0,0,7,4h22.84a8.13,8.13,0,0,0,7-4l11.29-19a8.15,8.15,0,0,0,0-8.29l-1.45-2.46-3.51-6-6.22-10.52a8.15,8.15,0,0,0-7-4L19.4505,0a8.13,8.13,0,0,0-7,4L1.1405,23A8.17,8.17,0,0,0,1.1305,31.31Zm56.87-8.89Z"
                style="fill: #222" />
            </svg>
            <div class="hero-companies-item-image"><img
                src="/assets/images/logos/hurricane/heaton-sanitation-white.svg" alt="Heaton Sanitation Logo" /></div>
          </div>
          <div class="hero-companies-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 61.6032 54.33"
              preserveAspectRatio="none">
              <path
                d="M1.1305,31.31,2.6905,34l4.16,7,5.49,9.33a8.16,8.16,0,0,0,7,4h22.84a8.13,8.13,0,0,0,7-4l11.29-19a8.15,8.15,0,0,0,0-8.29l-1.45-2.46-3.51-6-6.22-10.52a8.15,8.15,0,0,0-7-4L19.4505,0a8.13,8.13,0,0,0-7,4L1.1405,23A8.17,8.17,0,0,0,1.1305,31.31Zm56.87-8.89Z"
                style="fill: #222" />
            </svg>
            <div class="hero-companies-item-image"><img
                src="/assets/images/logos/hurricane/hurricane-sms-tall-white.svg" alt="Hurricane SMS Logo" /></div>
          </div>

        </div>
      </div>
    </div>
    <div class="intro-section">
      <div class="intro-section-small">
        <div class="intro-section-small-content" data-aos="fade-up">
          <h2>Over 50 Years of Excellence</h2>
        </div>
        <div class="intro-section-small-side">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%"
            viewBox="0 0 15.1602 53.7">
              <path d="M1.065,30.635,15.16,53.7V0L1.065,23.065A7.2584,7.2584,0,0,0,1.065,30.635Z" style="fill: #222"/>
          </svg>
        </div>
      </div>
      <div class="intro-section-large">
        <div class="intro-section-large-services" data-aos="fade-up">
          <h3>Core Group Services</h3>
          <ul class="unstyled-list">
            <li>Hydrovac</li>
            <li>Sewer Maintenance</li>
            <li>Sanitation</li>
            <li>Commercial Truck Service</li>
          </ul>
          <div class="learn-more"><a class="link link--arrowed" href="/companies/">Learn More
    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <g fill="none" stroke="#fff" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
        <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
        <path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
      </g>
    </svg></a></div>
        </div>
        <div class="intro-section-large-text" data-aos="fade-up">
          <h4>The Hurricane Group</h4>
          <h3>One Defining Vision</h3>
          <p>The Hurricane Group is compromised of Hurricane Hydrovac, Hurricane SMS, Heaton Sanitation and Ken Lapain &
            Sons Ltd. With over 50 years of operational excellence, these four companies share one defining vision; to
            provide exceptional service through experience and versatility.</p>
        </div>
      </div>
    </div>
    <div class="home-companies">
      <div class="home-companies-container">
        <div class="home-companies-container-left">
          <div class="heading" data-aos="fade-up">
            <h4>Our Companies</h4>
            <h2>The Hurricane <span class="outline-text">Difference</span></h2>
            <div class="learn-more"><a class="link link--arrowed" href="/companies/">View All Companies
    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <g fill="none" stroke="#222" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
        <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
        <path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
      </g>
    </svg></a></div>
          </div>
        </div>
        <div class="home-companies-container-right">
          <div class="hex-wrapper" data-aos="fade-up">
            <div class="company-hex company-hex-1">
              <div class="company-hex-title">
                <div class="company-hex-title-inner larger-logo ">
                  <img src="/assets/images/logos/hurricane/hurricane-hydrovac-wide-dark.svg" alt="Hurricane Hydrovac Logo"/>
                  <div class="hidden-content">
                    <p>Hurricane Hydrovac's diversity and experience make the company the number one solution for hydro
                      excavation services and one of Southwestern Ontario's fastest-growing hydro excavation companies.
                    </p>
                    <div class="learn-more"><a class="link link--arrowed" href="/companies/">Learn More
    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <g fill="none" stroke="#222" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
        <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
        <path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
      </g>
    </svg></a></div>
                  </div>
                </div>
              </div>
              <img src="assets/images/hex-bg-red.jpg" class="company-hex-bg-img" alt="The Hurricane Group" />
            </div>
            <svg class="clip-svg" width="0" height="0" >
              <defs>
                    <clipPath id="clip-svg-demo" clipPathUnits="objectBoundingBox" transform="scale(0.01, 0.01)">
                            <polygon points="98.66025 45, 99.39693 46.5798, 99.84808 48.26352, 100 50, 99.84808 51.73648, 99.39693 53.4202, 98.66025 55, 78.66025 89.64102, 77.66044 91.06889, 76.42788 92.30146, 75 93.30127, 73.4202 94.03794, 71.73648 94.48909, 70 94.64102, 30 94.64102, 28.26352 94.48909, 26.5798 94.03794, 25 93.30127, 23.57212 92.30146, 22.33956 91.06889, 21.33975 89.64102, 1.33975 55, 0.60307 53.4202, 0.15192 51.73648, 0 50, 0.15192 48.26352, 0.60307 46.5798, 1.33975 45, 21.33975 10.35898, 22.33956 8.93111, 23.57212 7.69854, 25 6.69873, 26.5798 5.96206, 28.26352 5.51091, 30 5.35898, 70 5.35898, 71.73648 5.51091, 73.4202 5.96206, 75 6.69873, 76.42788 7.69854, 77.66044 8.93111, 78.66025 10.35898"></polygon>
                    </clipPath>
              </defs>   
            </svg>
          </div>
          <div class="hex-wrapper" data-aos="fade-up">
            <div class="company-hex company-hex-2">
              <div class="company-hex-title">
                <div class="company-hex-title-inner larger-logo">
                  <img src="/assets/images/logos/hurricane/hurricane-sms-wide-dark.svg" alt="Hurricane SMS Logo"/>
                  <div class="hidden-content">
                    <p>Hurricane SMS is well equipped and experienced in developing and executing sewer inspection
                      programs via its long list of service offerings, including CCTV inspections.</p>
                    <div class="learn-more"><a class="link link--arrowed" href="/companies/">Learn More
    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <g fill="none" stroke="#222" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
        <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
        <path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
      </g>
    </svg></a></div>
                  </div>
                </div>
              </div>
              <img src="assets/images/hex-bg-red.jpg" class="company-hex-bg-img" alt="The Hurricane Group" />
            </div>
          </div>
          <div class="hex-wrapper" data-aos="fade-up">
            <div class="company-hex company-hex-3">
              <div class="company-hex-title">
                <div class="company-hex-title-inner">
                  <img src="/assets/images/logos/hurricane/heaton-sanitation-dark.svg" alt="Heaton Sanitation Logo"/>
                  <div class="hidden-content">
                    <p>Heaton Sanitation was founded in 1964 with specialization in septic and waste removal before
                      eventually entering the hydro-vac business. Today Heaton Sanitation continues to operate in
                      conjunction with Hurricane Hydrovac.</p>
                    <div class="learn-more"><a class="link link--arrowed" href="/companies/">Learn More
    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <g fill="none" stroke="#222" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
        <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
        <path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
      </g>
    </svg></a></div>
                  </div>
                </div>
              </div>
              <img src="assets/images/hex-bg-red.jpg" class="company-hex-bg-img" alt="The Hurricane Group" />
            </div>
          </div>
          <div class="hex-wrapper" data-aos="fade-up">
            <div class="company-hex company-hex-4">
              <div class="company-hex-title">
                <div class="company-hex-title-inner">
                   <img src="/assets/images/logos/hurricane/lapain-dark.svg" alt="Ken Lapain and Sons Ltd. Logo" />
                    <div class="hidden-content">
                      <p>In business, for over 70 years Ken Lapain and Sons Ltd. is a one-stop-shop for all service and
                        repair needs of commercial and heavy-duty vehicles with multiple specialized departments in their
                        14,000 sqft facility.</p>
                      <div class="learn-more"><a class="link link--arrowed" href="/companies/">Learn More
    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <g fill="none" stroke="#222" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
        <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
        <path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
      </g>
    </svg></a></div>
                    </div>
                </div>
              </div>
              <img src="assets/images/hex-bg-red.jpg" class="company-hex-bg-img" alt="The Hurricane Group" />
            </div>
          </div>
        </div>
      </div>
    </div>
    {%- include clients.html -%}
    <div class="quote">
      <div class="quote-container">
        <div class="quote-quotation">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1108475/quotation2.svg" alt="Quotation Icon">
        </div>
        <div class="quote-container-content" data-aos="fade-up">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse rerum accusamus magni quod architecto velit
            temporibus. Numquam debitis temporibus labore iure.</p>
          <div class="quote-author" data-aos="fade-up">
            <h3>Adam Zaremba</h3>
            <h4>Pure Industries</h4>
          </div>
        </div>
      </div>
    </div>



  </div>
  {%- include footer.html -%}
</body>

</html>