<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
  <div class="site">
    {%- include header.html -%}

    <div class="hero">
      <div class="hero-large-hexagon">
        <div class="hero-large-hexagon-content">
          <h1><span class="top-text">Four Companies</span> One <span class="outline-text">Vision</span></h1>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, deserunt nostrum quasi unde laboriosam
            voluptas qui nesciunt iure aut perferendis totam autem sequi culpa dolores tenetur aperiam impedit? Atque,
            laudantium!</p>
          <a href="/companies/" class="btn btn-outline">Learn More</a>
        </div>
        <div class="hero-large-hexagon-side">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%"
            viewBox="0 0 13.1985 53.0893">
            <path
              d="M12.0657,22.0614l-1.45-2.6909-3.51-6.563L.8857,1.3A8.577,8.577,0,0,0,0,0V53.0893a8.7964,8.7964,0,0,0,.7758-1.1767L12.0657,31.13A9.64,9.64,0,0,0,12.0657,22.0614Z"
              style="fill: #fff" />
          </svg>

        </div>
      </div>
      <div class="hero-right">
        <div class="hero-companies">
          <div class="hero-companies-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 61.6032 54.33"
              preserveAspectRatio="none">
              <path
                d="M1.1305,31.31,2.6905,34l4.16,7,5.49,9.33a8.16,8.16,0,0,0,7,4h22.84a8.13,8.13,0,0,0,7-4l11.29-19a8.15,8.15,0,0,0,0-8.29l-1.45-2.46-3.51-6-6.22-10.52a8.15,8.15,0,0,0-7-4L19.4505,0a8.13,8.13,0,0,0-7,4L1.1405,23A8.17,8.17,0,0,0,1.1305,31.31Zm56.87-8.89Z"
                style="fill: #222" />
            </svg>
            <div class="hero-companies-item-image"><img
                src="/assets/images/logos/hurricane/hurricane-hydrovac-tall-white.svg" alt="Hurricane Hydrovac Logo" /></div>
          </div>
          <div class="hero-companies-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 61.6032 54.33"
              preserveAspectRatio="none">
              <path
                d="M1.1305,31.31,2.6905,34l4.16,7,5.49,9.33a8.16,8.16,0,0,0,7,4h22.84a8.13,8.13,0,0,0,7-4l11.29-19a8.15,8.15,0,0,0,0-8.29l-1.45-2.46-3.51-6-6.22-10.52a8.15,8.15,0,0,0-7-4L19.4505,0a8.13,8.13,0,0,0-7,4L1.1405,23A8.17,8.17,0,0,0,1.1305,31.31Zm56.87-8.89Z"
                style="fill: #222" />
            </svg>
            <div class="hero-companies-item-image"><img
                src="/assets/images/logos/hurricane/lapain-white.svg" alt="Ken Lapain and Sons Ltd. Logo" /></div>
          </div>
          <div class="hero-companies-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 61.6032 54.33"
              preserveAspectRatio="none">
              <path
                d="M1.1305,31.31,2.6905,34l4.16,7,5.49,9.33a8.16,8.16,0,0,0,7,4h22.84a8.13,8.13,0,0,0,7-4l11.29-19a8.15,8.15,0,0,0,0-8.29l-1.45-2.46-3.51-6-6.22-10.52a8.15,8.15,0,0,0-7-4L19.4505,0a8.13,8.13,0,0,0-7,4L1.1405,23A8.17,8.17,0,0,0,1.1305,31.31Zm56.87-8.89Z"
                style="fill: #222" />
            </svg>
            <div class="hero-companies-item-image"><img
                src="/assets/images/logos/hurricane/heaton-sanitation-white.svg" alt="Heaton Sanitation Logo" /></div>
          </div>
          <div class="hero-companies-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 61.6032 54.33"
              preserveAspectRatio="none">
              <path
                d="M1.1305,31.31,2.6905,34l4.16,7,5.49,9.33a8.16,8.16,0,0,0,7,4h22.84a8.13,8.13,0,0,0,7-4l11.29-19a8.15,8.15,0,0,0,0-8.29l-1.45-2.46-3.51-6-6.22-10.52a8.15,8.15,0,0,0-7-4L19.4505,0a8.13,8.13,0,0,0-7,4L1.1405,23A8.17,8.17,0,0,0,1.1305,31.31Zm56.87-8.89Z"
                style="fill: #222" />
            </svg>
            <div class="hero-companies-item-image"><img
                src="/assets/images/logos/hurricane/hurricane-sms-tall-white.svg" alt="Hurricane SMS Logo" /></div>
          </div>

        </div>
      </div>
    </div>
    <div class="intro-section">
      <div class="intro-section-small">
        <div class="intro-section-small-content">
          <h2>Over 50 Years of Excellence</h2>
        </div>
        <div class="intro-section-small-side">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%"
            viewBox="0 0 13.1985 53.0893">
            <path
              d="M1.1328,31.0279l1.45,2.6909,3.51,6.563,6.22,11.5074a8.577,8.577,0,0,0,.8857,1.3V0a8.78,8.78,0,0,0-.7757,1.1767L1.1328,21.96A9.64,9.64,0,0,0,1.1328,31.0279Z"
              style="fill: #222" />
          </svg>
        </div>
      </div>
      <div class="intro-section-large">
        <div class="intro-section-large-services">
          <h3>Core Group Services</h3>
          <ul class="unstyled-list">
            <li>Hydrovac</li>
            <li>Sewer Maintenance</li>
            <li>Sanitation</li>
            <li>Commercial Truck Service</li>
          </ul>
          <div class="learn-more"><a href="/companies/">Learn More&nbsp;&nbsp;&rarr;</a></div>
        </div>
        <div class="intro-section-large-text">
          <h4>The Hurricane Group</h4>
          <h3>One Defining Vision</h3>
          <p>The Hurricane Group is compromised of Hurricane Hydrovac, Hurricane SMS, Heaton Sanitation and Ken Lapain &
            Sons Ltd. With over 50 years of operational excellence, these four companies share one defining vision; to
            provide exceptional service through experience and versatility.</p>
        </div>
      </div>
    </div>
    <div class="home-companies">
      <div class="home-companies-container">
        <div class="home-companies-container-left">
          <div class="heading">
            <h4>Our Companies</h4>
            <h2>The Hurricane <span class="outline-text">Difference</span></h2>
            <div class="learn-more"><a href="/companies/">View All Companies&nbsp;&nbsp;&rarr;</a></div>
          </div>
        </div>
        <div class="home-companies-container-right">
          <div class="hex-wrapper">
            <div class="company-hex company-hex-1">
              <div class="company-hex-title">
                <img src="/assets/images/logos/hurricane/hurricane-hydrovac-wide-dark.svg" alt="Hurricane Hydrovac Logo"/>
                <div class="hidden-content">
                  <p>Hurricane Hydrovac's diversity and experience make the company the number one solution for hydro
                    excavation services and one of Southwestern Ontario's fastest-growing hydro excavation companies.
                  </p>
                  <div class="learn-more"><a href="/companies/">Learn More&nbsp;&nbsp;&rarr;</a></div>
                </div>
              </div>

            </div>
          </div>
          <div class="hex-wrapper">
            <div class="company-hex company-hex-2">
              <div class="company-hex-title">
                <img src="/assets/images/logos/hurricane/hurricane-sms-wide-dark.svg" alt="Hurricane SMS Logo"/>
                <div class="hidden-content">
                  <p>Hurricane SMS is well equipped and experienced in developing and executing sewer inspection
                    programs via its long list of service offerings, including CCTV inspections.</p>
                  <div class="learn-more"><a href="/companies/">Learn More&nbsp;&nbsp;&rarr;</a></div>
                </div>
              </div>

            </div>
          </div>
          <div class="hex-wrapper">
            <div class="company-hex company-hex-3">
              <div class="company-hex-title">
                <img src="/assets/images/logos/hurricane/heaton-sanitation-dark.svg" alt="Heaton Sanitation Logo"/>
                <div class="hidden-content">
                  <p>Heaton Sanitation was founded in 1964 with specialization in septic and waste removal before
                    eventually entering the hydro-vac business. Today Heaton Sanitation continues to operate in
                    conjunction with Hurricane Hydrovac.</p>
                  <div class="learn-more"><a href="/companies/">Learn More&nbsp;&nbsp;&rarr;</a></div>
                </div>
              </div>

            </div>
          </div>
          <div class="hex-wrapper">
            <div class="company-hex company-hex-4">
              <div class="company-hex-title">
                <img src="/assets/images/logos/hurricane/lapain-dark.svg" alt="Ken Lapain and Sons Ltd. Logo" />
                <div class="hidden-content">
                  <p>In business, for over 70 years Ken Lapain and Sons Ltd. is a one-stop-shop for all service and
                    repair needs of commercial and heavy-duty vehicles with multiple specialized departments in their
                    14,000 sqft facility.</p>
                  <div class="learn-more"><a href="/companies/">Learn More&nbsp;&nbsp;&rarr;</a></div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    {%- include clients.html -%}
    <div class="quote">
      <div class="quote-container">
        <div class="quote-quotation">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1108475/quotation2.svg" alt="Quotation Icon">
        </div>
        <div class="quote-container-content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse rerum accusamus magni quod architecto velit
            temporibus. Numquam debitis temporibus labore iure.</p>
          <div class="quote-author">
            <h3>Adam Zaremba</h3>
            <h4>Pure Industries</h4>
          </div>
        </div>
      </div>
    </div>



  </div>
  {%- include footer.html -%}
</body>

</html>