

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="site">
        {%- include header.html -%}

        <main class="page-content" aria-label="Content">
        <div class="hero">
            <div class="hero-content">
                <h1>Providining the Windsor Region with unparalleled service in the sanitation and excavation industries.</h1>
            </div>
        </div>
        <div class="wrapper">
            {{ content }}
        </div>
        </main>

        {%- include footer.html -%}
    </div>
  </body>

</html>